!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %title bedbug bnb
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    #header
      %h1 bedbug bnb
      .logo= image_tag("bedbug.png", :width => 100)
    -if flash[:notice]
      %p= flash[:notice]
    -elsif flash[:warning]
      %p= flash[:warning]
    = yield
